<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>
  {%- assign lang = page.path | split: '/' | first -%}
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.data.translations['find-me'][lang] }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {{ site.data.translations['contact'][lang] }}
            </li>
            <li>me at thxou dot com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.data.translations['footer-description'][lang] }}</p>
        <!--<p>{{- site.description | escape -}}</p>-->
      </div>
    </div>

  </div>

</footer>