---

---

@import "minima";

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: #000;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

body {
	background: #191919
}

.section:nth-child(even),
.section.footer {
	background: #000
}

body {
	font-family: 'Fira Code', monospace;
	color: #fff
}

.lead {
	font-size: 1rem;
	font-weight: bold
}

a:link,
a:visited {
	text-decoration: none;
	color: #f8961e
}

a:link:hover,
a:visited:hover {
	color: #f9c74f
}

.birdy {
	position: absolute;
	top: 28px;
	right: 28px;
	font-size: 21px
}

.stack {
	position: absolute;
	top: 28px;
	right: 60px;
	font-size: 21px
}

.github {
	position: absolute;
	top: 28px;
	right: 88px;
	font-size: 21px
}

.home .intro {
	text-align: center;
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center
}

.home .intro>div {
	padding: 50px 30px
}

.home .intro>div canvas {
	margin-bottom: 12px;
	max-width: 256px;
	width: 50vw
}

.home .intro>div h1 {
	margin-bottom: 0
}

.home .intro>div p {
	color: #aaa
}

.home .intro>div a {
	margin-top: 28px;
	font-size: 13pt;
	display: block
}

.home .credits-section {
	margin: 0 -20px;
	position: relative
}

.home .credits-section a {
	vertical-align: middle;
	padding: 12px 20px;
	display: inline-block;
	box-sizing: border-box;
	white-space: nowrap;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	top: -7px;
	width: 33%
}

@media (max-width: 700px) {
	.home .credits-section a {
		width: 50%
	}
}

@media (max-width: 500px) {
	.home .credits-section a {
		width: 100%
	}
}

.release ul.downloads,
.release ul.downloads>li {
	margin: 0;
	padding: 0;
	list-style: none
}

.release .smart-downloads .help {
	color: #aaa;
	font-size: 9pt;
	display: block;
	margin-top: -8px;
	margin-bottom: 24px
}

.release .smart-downloads *[show-if] {
	display: none
}

.release hr {
	margin: 32px 0
}

.release a.download-btn {
	display: inline-block;
	margin-bottom: 20px;
	max-width: 100%
}

.release a.download-btn span {
	display: block
}

.release a.download-btn .extra-info {
	margin-top: 4px;
	font-size: 11px;
	color: #888;
	word-wrap: break-word
}

.release a.download-btn.primary {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 6px;
	padding: 12px 16px
}

.release a.download-btn.primary:hover {
	background: rgba(255, 255, 255, 0.15)
}

.section {
	text-align: center;
	padding: 40px 20px
}

.section>h2 {
	margin-top: 0
}

.section>div {
	margin: 0 auto;
	max-width: 800px;
	text-align: initial;
	overflow-x: hidden
}

.section-release>a {
	margin-top: 20px;
	display: inline-block
}

hr {
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.3)
}

.logo {
	position: absolute;
	top: 28px;
	left: 30px;
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: #000;
  }

  pre, code {
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    font-size:13px;
    overflow-x:auto;
    background-color: #232323;
  }

  pre {
    padding:20px;
    background: #232323;
    color:#f8f8f2;
    margin:0 -40px 20px;
  
    code {
      color:#f8f8f2;
    }
  
    li & {
      margin-left:-60px;
      padding-left:60px;
    }
  }

  .site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: #f8961e;
      line-height: $base-line-height;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $grey-color-dark;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #d0d0d0;
  font-weight: normal;
}
.highlight .err {
  color: #151515;
  background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #888;
}
.highlight .cp {
  color: #f4bf75;
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #d0d0d0;
}
.highlight .p, .highlight .pi {
  color: #d0d0d0;
}
.highlight .gi {
  color: #90a959;
}
.highlight .gd {
  color: #ac4142;
}
.highlight .gh {
  color: #6a9fb5;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #B2ED5D;
}
.highlight .kc {
  color: #d28445;
}
.highlight .kt {
  color: #E16D5B;
}
.highlight .kd {
  color: #B2ED5D;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959;
}
.highlight .s1 {
  color: #B49CDA;
}
.highlight .s2 {
  color: #B49CDA;
}
.highlight .si {
  color: #8f5536;
}
.highlight .se {
  color: #E9E2DE;
}
.highlight .n {
  color: #4DA6BD;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nf {
  color: #D98339;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #6a9fb5;
}
.highlight .nv {
  color: #E9E2DE;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959;
}
.highlight .ss {
  color: #90a959;
}
.highlight .s {
  color: #B49CDA;
}